@model TIDIP_ADO_NET_V2.Models.Medicals


@{
    Layout = "";
    ViewBag.Title = "Create";
}



<form action="@Url.Action("Create")"></form>
@using (Html.BeginForm("Create", "Medicals", FormMethod.Post))
{
    @Html.AntiForgeryToken()




    <div class="form-horizontal">
       
        <hr />
           



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MedicalName, "醫療單位名稱", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedicalName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalName, "", new { @class = "text-danger" })
            </div>
        </div>

     


        <div class="form-group">
            @Html.LabelFor(model => model.County_City, "縣市", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-group ">

                    <select class="county form-control " name="County_City" id="County_City" data-val="true" data-val-required="縣市為必填欄位"></select>
                    @*<input class="form-control text-box single-line" data-val="true" data-val-required="名稱為必填欄位" id="MedicalName" name="MedicalName" type="text" value="">*@

                </div>
                @*@Html.DropDownList("County_City", null, htmlAttributes: new { @class = "form-control county" })*@
                @*@Html.EditorFor(model => model.County_City, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.County_City, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Area, "鄉、鎮、市、區", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-group ">

                    <select class="district form-control" name="Area"  id="Area" data-val="true" data-val-required="鄉、鎮、市、區為必填欄位"></select>

                </div>
                @*@Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        


        <div class="form-group">
            @Html.LabelFor(model => model.MedicalAddress, "地址", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedicalAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        @* <div class="form-group">
                @Html.LabelFor(model => model.MedicalCreatedDate, "建立資訊時間", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MedicalCreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                   @* <span>@ViewBag.MedicalCreatedDate</span>
                    @Html.ValidationMessageFor(model => model.MedicalCreatedDate, "", new { @class = "text-danger" })
                </div>
            </div>
        *@
        <div class="form-group">
            @Html.LabelFor(model => model.MedicalTel, "電話", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedicalTel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalTel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg>&nbsp建立
                </button>
            </div>
        </div>
    </div>


@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/dk-tw-citySelector.js"></script>
<script>


        $(function () {
            $('.form-group').dk_tw_citySelector('.county', '.district', '.zipcode');
            //$('.form-2').dk_tw_citySelector('select[name="county"]', 'select[name="district"]', 'input[name="zipcode"]');
            //$('.form-3').dk_tw_citySelector('.county', '.district', '.zipcode');
            //$('.form-4').dk_tw_citySelector('.county', '.district', '.zipcode');
        });
    </script>




    <script>
        $(function () {
            $("#County_City").change(function () {
                var displaycourse = $("#County_City option:selected").text();
                $("#countyValue").val(displaycourse);


            })

        })
    </script>
    <script>
        $(function () {
            $("#Area").change(function () {
                var displaycourse = $("#Area option:selected").text();
                $("#districtValue").val(displaycourse);


            })

        })
</script>
}