@model IEnumerable<TIDIP_ADO_NET_V2.Models.Disaster_Accident_Type>

@{
    ViewBag.Title = "Index";
}

<div class="mt-3">
    <h2><strong>災害類型管理</strong></h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, new{@class= "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATypeID)
        </th>
        <th >
           
            @Html.DisplayNameFor(model => model.DATypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATypeID)
        </td>
        <td cl>
            @Html.DisplayFor(modelItem => item.DATypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DATypeID }, new { @class = "btn btn-warning" }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.DATypeID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
